main {
    padding-left: 40px;
}
.keyframe {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: salmon;
    animation-fill-mode: both;
    animation-iteration-count: 2;
}

.animate-me-rotate {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    background-color: hotpink;
    transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
}
.animate-me-rotate:hover {
    background-color: indigo;
}

.animate-me-scaleX {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    background-color: teal;
    transform: scaleX(1.3);
    -ms-transform: scaleX(1.3);
    transition: width 1s linear, background-color 1.5s ease-in-out;
}
.animate-me-scaleX:hover {
    width: 400px;
    background-color: mediumaquamarine;
}
.animate-me-scaleY {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    background-color: hotpink;
    transform: scaleY(1.3);
    -ms-transform: scaleY(1.3);
}
.animate-me-skewX {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    background-color: teal;
    transform: skewX(20deg);
    -ms-transform: skewX(20deg);
}
.animate-me-scewY {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    background-color: hotpink;
    transform: skewY(45deg);
    -ms-transform: skewY(45deg);
}
.animate-me-translateX {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    background-color: teal;
    transform: translateX(-100px);
}
.animate-me-translateY {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    background-color: hotpink;
    transform: translateY(-100px);
}
.animate-me-translate-shorthand {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    background-color: teal;
    transform: translate(200px, -50px);
}


 p {
    padding-top: 15px;
    font-size: 2.3rem;
}